# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.user
*.VC.db
*.VC.opendb
.vs/
PCbuild/obj/
PCbuild/amd64/
externals/openss-1.0.2h/tmp/
externals/openssl-1.0.2h/tmp/
*.exp
*.pyd
build/
